@using System.Net
@model PushNotificationModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bold-label">Welcome to FCM Tester</h1>
    <p style="background-color: yellow; color: red; font-weight: bold; text-align: left;">Disclaimer: We do not store any information transmitted through this page. We are not responsible for any unauthorized access or misuse of your token if it is compromised due to factors outside of our control. This includes, but is not limited to, phishing attempts, malware infections, or breaches of third-party services where your token may have been shared.</p>
</div>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.FcmToken, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.FcmToken, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceToken, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextAreaFor(model => model.DeviceToken, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" , placeholder = "Sample title" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Body, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.Body, new { @class = "form-control", placeholder = "Sample body" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control", placeholder = "https://udai.io/wp-content/uploads/2019/09/20190825_113911-1024x498.jpg" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClickAction, new { @class = "control-label bold-label col-md-10" })
            <div class="col-md-12">
                @Html.TextBoxFor(model => model.ClickAction, new { @class = "form-control", placeholder = "https://udai.io" })
            </div>
        </div>
        <div class="col-md-12">
            @if (Model.Result?.StatusCode == HttpStatusCode.OK)
            {
                <span style="font-weight: bold; color: green;">
                    @Html.DisplayFor(model => model.Result.Message)
                </span>
            }
            else
            {
                <span style="font-weight: bold; color: red;">
                    @Html.DisplayFor(model => model.Result.Message)
                </span>
            }
        </div>
        <input type="submit" class="btn btn-primary" name="Command" value="Send Notification" />
    </div>
}
